<template name="FAQ">

  <ul class="collapsible section-card" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active">Q: What is Blank Spaces?</div>
      <div class="collapsible-body"><p>A: Blank Spaces is a service designed to create a network of affordable public storage. We know that students aren’t at school year round, but wherever they go, they don’t want to bring all of the stuff with them. We want to connect who need a place to store their belongings when they’re not at school with students who have space in their homes to store some extra things. </p></div>
    </li>
    <li>
      <div class="collapsible-header">Q: Where does Blank Spaces operate?</div>
      <div class="collapsible-body"><p>A: Currently, we’re only in Atlanta at Georgia Tech. We’re looking to expand, so contact us if you would like to see us at your university!</p></div>
    </li>
    <li>
      <div class="collapsible-header">Q: What do I need to pay? </div>
      <div class="collapsible-body"><p>A: It’s free to sign up! All you need to do is pay the storage fee to the person storing your things. Half of it is due at the beginning of the lease, and the rest is due when you get your stuff back.</p></div>
    </li>
        <li>
      <div class="collapsible-header">Q: How does billing work?</div>
      <div class="collapsible-body"><p>A: Prices are set by the people leasing out storage space on a monthly basis. Some may have semester-long rates as well. Make sure to read the listing details carefully and contact them if you have specific questions about their space. Half of it is due at the beginning of the lease, and the rest is due when you get your stuff back.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Q: What if my stuff gets damaged or stolen?</div>
      <div class="collapsible-body"><p>A: All of our members sign a Terms and Conditions agreement. Some members have additional insurance policies and security deposits, but that’s up to the individual. Make sure to read the member’s profile, listing description, and past reviews closely. </p></div>
    </li>
        <li>
      <div class="collapsible-header">Q: How long can I store my stuff?</div>
      <div class="collapsible-body"><p>A: That’s up to you! As long as there is space on the calendar , you can store it as long as you need.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Q: Can I pick up my stuff early?</div>
      <div class="collapsible-body"><p>A: Depending on the flexibility of the person who is storing your stuff. </p></div>
    </li>
        <li>
      <div class="collapsible-header">Q: How can I contact other members?</div>
      <div class="collapsible-body"><p>A: You can contact them through the site via our messaging service. Some members may choose to share their cell phone number or personal email, but that’s up to the individual members.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Q: What kind of items can I store?</div>
      <div class="collapsible-body"><p>A: Almost anything that you need! However, we ask that you do not store firearms, weapons, explosives, perishable items, pets, plants, medications, illegal drugs, or alcoholic beverages. Individual members may have additional restrictions.</p></div>
    </li>
  </ul>
 </template>