<template name="Home">
  <div id="section">
    <div class="card section-card">
      <div class="card-content">
        <div id="main-box">
        <div id="main-button-container">
          <img class="responsive-img" src="logo.png" /> {{#unless currentUser}}
          <a class="btn waves-effect waves-light full-width modal-trigger" href="#register">Register</a> {{/unless}}
        </div>
        <div id="main-video-container" flex>
          <video id="mainVideo" width="100%" height="auto" src="blank-spaces-intro.mp4" controls></video>
        </div>
      </div>
            <div class="divider" style="margin-top: 10px;"></div>
      <div class="card-title teal-text" style="text-align: center">About Us</div>
      <p>Created by a group of students at Georgia Tech, Blank Spaces is a service designed to create a network of affordable public storage. Students need to leave school for a variety of reasons - for work, study abroad, or vacation. We want to connect students who need a place to store their belongings when they’re not at school with students who have space in their homes to store some extra things. This is an affordable and convenient option, while helping students make some money on the side, without having to do much work. Let us help fill your blank spaces.</p>
        <p>This is a work in progress, so if you have any comments, concerns, or suggestions, please let us know!</p>
      </div>
    </div>
    </div>
</template>