<head>
  <!JQuery>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!Materialize>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <!Gmaps>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="jquery.geocomplete.js"></script>
</head>

<template name="Layout">
  <div id="container">

    <div class="navbar-fixed">
      <nav id="navbar">
        <div id="nav-content" class="nav-wrapper">
          <i id="hamburger-menu" class="mdi-navigation-menu"></i>
          <div id="brand-logo">Blank-Spaces</div>
        </div>
      </nav>
    </div>

    <div id="content">
      {{> yield}}
    </div>

  </div>
</template>