html {
    height: 100%;
}
body {
    height: 100%;
    color: #444;
    background-color: #ececec;
    font-family: "Roboto", sans-serif;
}
.right {
    float: right;
}
.full-width {
    width: 100%;
}
.flex-box {
    display: flex;
}
.flex {
    flex: 1;
}
.brand-logo {
    font-size: 1.4rem !important;
    margin: 0px 10px;
}
.input-field .prefix.active {
    color: #444;
}
#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
/*login and reg modal*/

.log-reg {
    width: 350px;
}
.modal-cancel {
    float: right;
    font-size: 1.3rem;
    margin: 10px;
    cursor: pointer;
}
.modal-cancel:hover {
    color: darkred;
}
.modal-submit {
    margin-top: 25px;
}
.center {
    align-items: center;
    justify-content: center;
}