#dropzone {
  position: relative;
  border: 3px dashed grey;
  border-radius: 10px;
  color: grey;
  font-size: 1.5rem;
  min-height: 100px;
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dropzone.hover {
  border: 3px solid grey;
}
#dropzone.dropped {
  border: 3px solid grey;
}
#dropzone img {
  vertical-align: middle;
  width: 95%;
  max-height: auto;
}
#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%
}